{% extends 'base.html.twig' %}

{% block body_content %}

    {% if error is not null %}
        <div class="container alert-danger">
            {{ error }}
        </div>
    {% elseif data is empty %}
        <div class="container alert-warning">
            No data
        </div>
    {% else %}
        <div class="container">
            <div class="row alert-success">
                <div class="col">
                    season
                </div>
                <div class="col">
                    day
                </div>
                <div class="col">
                    awayTeam
                </div>
                <div class="col">
                    homeTeam
                </div>
                <div class="col">
                    stadiumId
                </div>
            </div>
        </div>
        <div class="container schedule">
            {% for item in data %}
                <div class="row">
                    <div class="col">
                        {{ item.season }}
                    </div>
                    <div class="col">
                        {{ item.day|date('Y-m-d') }}
                    </div>
                    <div class="col">
                        {{ item.awayTeam }}
                    </div>
                    <div class="col">
                        {{ item.homeTeam }}
                    </div>
                    <div class="col">
                        {{ item.stadiumId }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}